body {
    background-color: #f7f7f7;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4 ,h5 {
    font-family: sans-serif !important;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

h1.huge {
    font-size: 3.6em;
    padding: 20px 0;
}

.right { float: right; }
.container {
    margin: 30px auto;
    max-width: 960px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: #ccc;
}

.blog-navbar-full {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.blog-navbar {
    max-width: 960px;
    line-height: 40px;
    margin: 0 auto;

    a {
        color: #333;
        &:hover { color: #666; background-color: transparent !important; }
    }

    .pure-menu-heading {
        font-size: 1.3em;
        padding: 0;
    }

    .pure-menu-open {
        background: transparent;
    }

    ul {
        float: right;
        .github   { border-bottom: 2px solid #76AFD0; }
        .twitter  { border-bottom: 2px solid #90A967; }
        .email    { border-bottom: 2px solid #D8A443; }
        .linkedin { border-bottom: 2px solid #BE594E; }

        li span {
            padding-bottom: 3px;
        }

        li a {

        }
    }
}

.blog-l-border { border-left: 1px solid #eee; }

footer {
}

/**
 * This roughly implements the GitHub color theme for highglighting-kate.
 * It is not exact, because the GitHub theme is *way* more complex than what
 * highlighting-kate is capable of highlighting, but for blogging about code
 * snippets, etc, it should be fine.
 *
 * -CodeBlock
 */
code { font-family: Consolas, "Liberation Mono", Courier, monospace; }
.kw { font-weight: bold; }
.dt { color: #445588; font-weight: bold; }
.dv { color: #009999; }
.fl { color: #009999; }
.ch { color: #dd1144; }
.st { color: #dd1144; }
.co { color: #999988; font-style: italic; }
.fu { color: #990000; font-weight: bold; }
.er { color: #a61717; background-color: #e3d2d2; }
