.cardo { font-family: Cardo, serif !important; }
.ubuntu { font-family: Ubuntu, sans-serif !important; }

/*.bg-blacklinen {
    background-image: url("/static/black-linen.png");
}*/


.bg-ysured .navbar:first-child .nav-item:first-child a {
    padding-left: 0;
}

.bg-ysured a { color: #fff; }
.bg-ysured a:hover { color: #ddd; }

.bg-ysugrad {
    background-position: top center;
    background-image: url('/static/ysugrad.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.bg-ysugrad h1 {
    margin-top: 1em;
    font-size: 4em;
}


.bg-dance {
    background-position: top center;
    background-color: #e5d7aa;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body { background-color: #f7f7f7; }

img.home { width: 100%; }
img { max-width: 100%; }

h1, h2, h3, h4, h5 { font-family: Ubuntu, serif !important; }

*, p { font-family: Ubuntu, sans-serif; }

blockquote {
    margin-left: 15px;
    padding-left: 10px;
    background-color: #ddd;
    border-left: 5px solid #1332a4;
}

blockquote p { font-family: serif !important; }

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.huge {
    font-size: 3em;
}

.right { float: right; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: #ccc;
}

.blog-navbar-brand {
    font-weight: bold;
}

.blog-navbar-full {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    line-height: 40px !important;
}

.blog-navbar { margin-bottom: 20px; }
.blog-navbar a { color: #333 !important; }
.blog-navbar a:hover {
    color: #666 !important;
    background-color: transparent !important;
}
.blog-navbar ul .github   { border-bottom: 2px solid #76AFD0; }
.blog-navbar ul .twitter  { border-bottom: 2px solid #90A967; }
.blog-navbar ul .email    { border-bottom: 2px solid #D8A443; }
.blog-navbar ul .linkedin { border-bottom: 2px solid #BE594E; }
.blog-navbar ul .blog     { border-bottom: 2px solid #BE59BE; }
.blog-navbar ul .djsets   { border-bottom: 2px solid #AAAAAA; }
.blog-navbar ul li .nav-link {
    padding: 0 15px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.blog-navbar ul .blog-nav-item {
    margin: 0 2px !important;
    padding-bottom: 4px;
    margin-bottom: 0 !important;
}

.blog-navbar ul li:hover {
    transition: border-bottom .5s;
    border-bottom-width: 6px;
    padding-bottom: 0;
}

.blog-l-border { border-left: 1px solid #eee; }

.blog-sub h3 { margin-bottom: 10px; }
.blog-sub h2 {
    text-align: center;
    padding: 45px 0;
}

/**
 * This roughly implements the GitHub color theme for highglighting-kate.
 * It is not exact, because the GitHub theme is *way* more complex than what
 * highlighting-kate is capable of highlighting, but for blogging about code
 * snippets, etc, it should be fine.
 *
 * -CodeBlock
 */
pre {
    padding-left: 3em;
    color: #009999; /* Default color */
}
code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    color: #009999; /* Default color */
}
.kw { font-weight: bold; }
.dt { color: #445588; font-weight: bold; }
.dv { color: #009999; }
.fl { color: #009999; }
.ch { color: #dd1144; }
.st { color: #dd1144; }
.co { color: #999988; font-style: italic; }
.fu { color: #990000; font-weight: bold; }
.er { color: #a61717; background-color: #e3d2d2; }

p.quote {
    color: #888;
    font-style: italic;
    font-size: 2.2em;
}

p.quote .quotemark {
    font-size: 2em;
}

p.quote .attribution {
    font-style: normal;
    font-size: 0.6em;
}
