<div class="row">
  <div class="col-md-12">
    <hr />
    <h1 class="text-center">$title$</h1>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <h4>Published:</h4>
    $date$
    <hr />
    $tags$
  </div>
  <div class="col-md-9">
    <span class="blog-post serif">
      $body$
    </span>
    <hr />

    <a href="https://twitter.com/share" class="twitter-share-button" data-via="relrod6">Tweet this post</a>

<!--
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div id="disqus_thread"></div>

    <script type="text/javascript">
      var disqus_shortname = 'codeblock';
      var disqus_identifier = 'http://elrod.me$url$';
      var disqus_title = '$safetitle$';
      var disqus_url = 'http://elrod.me$url$';

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
-->
  </div>
</div>
